/* 全体背景色 */
body{
  background-color:#E7E7E7;
  /* 背景画像を使用する場合
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  */
}

html, button, input, select, textarea, span,
.pure-g [class *= "pure-u"] {
  /* フォント変更する場合は上記purecssのセレクタ指定*/
  /*font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",serif;*/
}
/* 入力部分背景 */
#bg {
  background-color:#FFFFFF;
  max-width:768px;
  border-radius:0.5em 0.5em 0.5em 0.5em;
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
  margin-bottom:1em;
  text-align: center;
}
/* 項目文字修飾 */
.itemTitle {
  color:#000000;
  font-weight:bold;
}
/* エラー文字修飾 */
.itemError {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 0.25em;
  color:#FF0000;
}
/* 確認、送信ボタン修飾 */
.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
/*規約テキストエリア0623追記*/
#kiyaku{
  width:100%;
  height:14em;
  color:#000;
  overflow-x:hidden;
  overflow-y:scroll;
}

#wrapper {
  padding: 0.75em 0.5em;
  text-align: center;
}
.main {
  max-width:758px;
  padding: 0.75em 0.5em;
  text-align: left;
  margin: 0px auto;
}
.uploadImage {
  width:235px;
}
#headerImg{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
#footer{
  text-align:center;
}
span {
  display:block;
}
input[type="checkbox"],input[type="radio"] {
  width:1.5em;
  height:1.5em;
}
#submitWrapper {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 1.5em;
}
#submit {
  max-width:320px;
}
#edit {
  margin-right: 2em;
}
label {
  font-size: 1.5em;
}
@media screen and (min-width: 980px) {
  #bg{width:768px;}
  .main{width:568px;}
}
@media screen and (max-width: 870px) {
  #bg,.main{max-width:468px;}
}
@media screen and (max-width: 767px) {
  #bg,.main{max-width:468px;}
}
@media screen and (max-width: 320px) {
  input[type=file]{width:230px;}
}
#result {
  font-size: 1.5em;
  font-weight: bold;
  display:inline;
}
#termTitle{
  margin:10px 10px;
}
#termofuse {
  padding: 10px;
  text-align: left;
}
#enquete5 {
  /*折り返し0623追記*/
  word-wrap:break-word;
}
